@font-face {
    font-family: "Lora";
    src: url("/auth/v1/theme_assets/Lora-VariableFont_wght.woff2") format("woff2");
    font-style: normal;
    font-weight: 400 700;
    font-display: optional;
}

html body,
html body :is(input, button, textarea, select) {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html body :is(h1, h2, h3, h4, h5, h6) {
    font-family: "Lora", ui-serif, "Georgia", "Cambria", "Times New Roman", "Times", serif;
}
